{% extends "base.html" %} 
{% block title %}Recipe Shack | Breakfast{% endblock %}
{% block content %}
<!-- Catergories Title -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Breakfast</h1>
    <p class="lead">Please select a recipe from our collection</p>
  </div>
</div>

<!-- creates a deck formation allowing the cards to align perfectly with each other (Bootgit pushstrap)-->
 <div class="row row-cols-1 row-cols-md-4 row-cols-sm-4">
 {% for recipe in recipes %}
  <!-- here is the code for each individual card in the card deck container.-->
  <a href="{{url_for('recipe', recipe_id=recipe._id)}}" style="text-decoration: none; color: #000;">
   <div class="col mb-3">
     <div class="card h-100">
       <img src="{{recipe.image}}" class="card-img-top" alt="image">
       <div class="card-body">
         <h5 class="card-title">{{recipe.name}}</h5>
         
       </div>
     </div>
   </div>
  </a>
  {% endfor %}
 </div>

{% endblock %}