{% extends "base.html" %}
{% block title %} Recipe Shack | Catergories {% endblock %}
{% block content %}
<!-- Catergories Title -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Catergories</h1>
    <p class="lead">Please select a category to help find your next favourite  dish!</p>
  </div>
</div>
<!-- creates a deck formation allowing the cards to align perfectly with each other (Bootstrap)-->
<div class="row row-cols-1 row-cols-md-3">
  <!-- here is the code for each individual card in the card deck container.-->
  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/cooked-full-english.jpg')}}" class="card-img-top" alt="breakfast">
      <div class="card-body">
        <h5 class="card-title">Breakfast</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/lunch2.jpg')}}" class="card-img-top" alt="lunch">
      <div class="card-body">
        <h5 class="card-title">Lunch</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/Dinner.jpg')}}" class="card-img-top" alt="dinner">
      <div class="card-body">
        <h5 class="card-title">Dinner</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/united-kingdom-flag-xl.png')}}" class="card-img-top" alt="england">
      <div class="card-body">
        <h5 class="card-title">British</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/china-flag-xl.jpg')}}" class="card-img-top" alt="china">
      <div class="card-body">
        <h5 class="card-title">Chinese</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/india-flag-xl.jpg')}}" class="card-img-top" alt="india">
      <div class="card-body">
        <h5 class="card-title">Indian</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/japan-flag-xl.jpg')}}" class="card-img-top" alt="japan">
      <div class="card-body">
        <h5 class="card-title">Japanese</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/thailand-flag-xl.jpg')}}" class="card-img-top" alt="thai">
      <div class="card-body">
        <h5 class="card-title">Thai</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

   <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/USA.jpg')}}" class="card-img-top" alt="USA">
      <div class="card-body">
        <h5 class="card-title">American</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/mexico-flag-xl.jpg')}}" class="card-img-top" alt="mexican">
      <div class="card-body">
        <h5 class="card-title">Mexican</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/italy-flah-xl.jpg')}}" class="card-img-top" alt="italy">
      <div class="card-body">
        <h5 class="card-title">Italian</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{{url_for('static', filename='images/france-flag-xl.jpg')}}" class="card-img-top" alt="france">
      <div class="card-body">
        <h5 class="card-title">French</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}