{% extends "base.html" %}
{% block title %} Recipe Shack | Home {% endblock %}
{% block content %}
<!-- jumbotron title card for each section-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome To Recipe Shack!</h1>
    <p class="lead">We strive to bring users together to share their own recipes and enjoy a real taste of life!</p>
  </div>
</div>
<!-- Basic category options for homepage -->
<div class="card-group">
  <div class="card">
    <img src="{{url_for('static', filename='images/cooked-full-english.jpg')}}" class="card-img-top" alt="full-english">
    <div class="card-body">
      <h5 class="card-title">Breakfast</h5>
      <p class="card-text">Explore the best morning oppotuinities!</p>
      <a href="#" class="btn btn-primary">Explore!</a>
    </div>

  </div>
  <div class="card">
    <img src="{{url_for('static', filename='images/lunch2.jpg')}}" class="card-img-top" alt="lunch-box">
    <div class="card-body">
      <h5 class="card-title">Lunch</h5>
      <p class="card-text">Find that perfect mid-day refuel!</p>
      <a href="#" class="btn btn-primary">Explore!</a>
    </div>

  </div>
  <div class="card">
    <img src="{{url_for('static', filename='images/Dinner.jpg')}}" class="card-img-top" alt="dinner">
    <div class="card-body">
      <h5 class="card-title">Dinner</h5>
      <p class="card-text">Reward your days efforts with a proper meal!</p>
      <a href="#" class="btn btn-primary">Explore</a>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Recently Added Recipes</h1>
    <p class="lead">Here are six of our lastest addtions to our ever growing collection of delicious recipes!</p>
  </div>
</div>
<!-- creates a deck formation allowing the cards to align perfectly with each other (Bootstrap)-->
<div class="row row-cols-1 row-cols-md-3">
  <!-- here is the code for each individual card in the card deck container.-->
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}