{% extends "base.html" %}
{% block title %} Recipe Shack | Recipe {% endblock %}
{% block content %}
<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">~~ Recipe ~~</h1>
    <p>Country of Origin: ~ origin ~</p> <p> Meal catergory: ~ meal type ~</p>
    <p class="card-text">~~ Recipe Description ~~</p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><h6>Preperation time:</h6><p>~~ prep time ~~</p></li>
    <li class="list-group-item"><h6>Cooking time:</h6><p>~~ cooking time ~~</p></li>
    <li class="list-group-item"><h6>Ingredients:</h6><p>~~ ingredients ~~</p></li>
    <li class="list-group-item"><h6>Instructions:</h6><p>~~ instructions ~~</p></li>
  </ul>
  </div>
</div>
{% endblock %}